*{
    margin: 1px;
    padding: 2px;
}
.header {
    height: 100vh;
}
.navbar-style{
    box-shadow: 0 20px 14px green;
    text-transform: uppercase;
    
    
}
.logo {
    height: 55px;
    padding: 5px 15px;
}
.icon-bar {
    background: rgb(97, 177, 97);
}
