body{
    background-color: #0d0e0d;
}

#task_container {
    background-color: #5b5656;
    width: 50rem;
    height: 345rem;
    margin: auto;
    display: inline-block;
    padding-bottom: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5%);
}

#to_do_header{
    margin: auto;
    background-color: #4d4646;
    color: white;
    width: 100%%;
    height: 70px;
    font-size: 60px;
    font-family: monospace;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#task_input_container{
    background-color: #fff;
    margin: 30px auto;
    height: 150px;
    width: 90%;
    margin-bottom: 100px;
}

#input_box {
    width: 80%;
    float: left;
    height: 50px;
    background-color: none;
    border: none;
    border-bottom: 2px solid #caeed3;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    border-right: 0.2px solid #4d4646;
    transition: 0.3s;
}

#input_box:focus{
    border-bottom: 10px solid #111111;
    outline: none;
}

#input_date {
    width: 40%;
    float: left;
    height: 20px;
    background-color: none;
    border: none;
    border-bottom: 2px solid #7fcd91;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    border-right: 0.2px solid #4d4646;
    transition: 0.3s;
}
#input_button:hover{
    background-color: #75b79e;
    color: white;
}
#input_button:active{
    transform: translateY(4px);
}

.header{
    float: left;
    margin-left: 5%;
    background-color:#75b79e;
    color: white;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 5px #4d4646;
}
.container{
    float: left;
    margin-left: 5%;
    margin-bottom: 40px;
    background-color:#f5eaea;
    width: 90%;
    height: 390px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.task_container{
    background-color:#fff;
    width: 90%;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.task_container:hover{
    border: 2px solid #75b79e;
    box-sizing: border-box;
}
.task_container{
    background-color:#fff;
    width: 90%;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.task_container:hover{
    border: 2px solid #75b79e;
    box-sizing: border-box;
}
 
#task_data{
    display: inline-block;
    float: left;
    width: 150px;
    height: 10%;
    margin-left: 10px;
}
#task_tool{
    display: inline-block;
    float: right;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#task_done_button{
    float: right;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color:#fff;
    border: none;
    border-radius: 20px;
    outline: none;
    margin-right: 5px;
}

#task_done_button:hover{
    background-color: #75b79e;
    color: #fff;
}
#task_done_button:active{
    transform: translateY(4px);
}

#task_edit_button{
    float: right;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    outline: none;
    margin-right: 5px;
}
#task_edit_button:hover{
    background-color: #4d4646;
    color: white;
}
#task_edit_button:active{
    transform: translateY(4px);
}

#task_delete_button{
    float: right;
    height: 30px;
    width: 30px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    outline: none;
    margin-right: 5px;
}
#task_delete_button:hover{
    background-color: #fa163f;
    color: white;
}
#task_edit_button:active{
    transform: translateY(4px);
}
#task_title{
    background-color:#fff;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    float: left;
    width: 100%;
}
#task_date{
    background-color: #fff;
    font-family: monospace;
    color: grey;
    font-size: 12px;
    float: left;
    margin: 0;
    margin-bottom: 5px;
    width: 100%;
}


#input_date:focus{
    border-bottom: 4px solid #2c786c;
    outline: none;
}

::-webkit-datetime-edit-fields-wrapper {
     background: white; margin-left: 50px;
    }
::-webkit-datetime-edit-text { 
    color:red; padding: 0 0.3rem;
}
::-webkit-datetime-edit-month-field {
     color: black; font-family: monospace;
    }
::-webkit-datetime-edit-day-field {
     color: black; font-family: monospace;
    }
::-webkit-datetime-edit-year-field {
     color: black; font-family: monospace;
    }
::-webkit-inner-spin-button {
     display: none;
    }
::-webkit-calendar-picker-indicator { 
    opacity: 1;
    display: block;
    float: left;
    margin-right: 50px;
    color: #fa163f;
    width: 15.5px;
    height: 12.5px;
}


